@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

.all {
    width: 1440px;
    height: 5366.5px;
    background: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    transition: all .3s;
}


/* HOME start */

.home {
    width: 100%;
    height: 800px;
    position: relative;
}

.container {
    padding: 0 110px 0 110px;
}

.navbar {
    background: #010208 16.39%;
    width: 1440px;
    height: 96px;
    display: flex;
    gap: 918px;
    align-items: center;
    position: fixed;
    z-index: 99;
}

.logo {
    margin: 0 0 0 112px;
}

.nav {
    width: 199px;
    height: 49px;
    display: flex;
    gap: 32px;
    padding: 10px 0 0 0;
    transition: all .5s;
}


/* Link start */

.links {
    width: 43px;
    height: 21px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0px;
    position: relative;
    color: #C54B8C;
    transition: all .5s;
}

.active-link {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0px;
    position: relative;
    color: #C54B8C;
}

.link {
    width: 49px;
    height: 21px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0px;
    position: relative;
    color: #C54B8C;
    transition: all .5s;
}

.linkn {
    width: 49px;
    height: 21px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0px;
    color: #E3E4E6;
    position: relative;
    transition: all .5s;
}

.links {
    width: 49px;
    height: 21px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0px;
    color: #E3E4E6;
    position: relative;
    transition: all .5s;
}

.link:hover {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0px;
    position: relative;
    color: #C54B8C;
}

.linkn:hover {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0px;
    position: relative;
    color: #C54B8C;
}

.links:hover {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0px;
    position: relative;
    color: #C54B8C;
}


/* link end */

.h-h3 {
    width: 1216px;
    height: 168px;
    padding: 0 104px 0 104px;
    position: absolute;
    top: 316px;
    left: 120px;
    color: rgba(227, 228, 230, 0.55);
    font-size: 56px;
    font-weight: 300;
    line-height: 84px;
    letter-spacing: -0.02em;
    text-align: center;
}

.h-b {
    font-size: 56px;
    font-weight: 600;
    line-height: 84px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.h-img {
    position: absolute;
    top: 733px;
    left: 710px;
}


/* HOME end */


/* CLIENTS start */

.clients {
    width: 100%;
    height: 502.5px;
    position: relative;
    padding: 80px 0 130px 0;
    z-index: 33;
}

.cli-box {
    width: 1216px;
    height: 292.5px;
    margin: 0 2px 0 2px;
}

.cil-text {
    width: 1216px;
    height: 120px;
    margin: 0 0 80px 0;
}

.c-h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #E3E4E68C;
}

.c-b {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.cli-logo {
    width: 1216px;
    height: 92.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-box1 {
    width: 194.4642791748047px;
    height: 60.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.c-box1:hover i,
h2 {
    color: #FF385C;
}

.c-box1:hover h2 {
    color: #FF385C;
}

.c-box2 {
    width: 181.5px;
    height: 60.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cil-b {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #E3E4E68C;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0em;
    transition: all .4s;
    cursor: pointer;
}

.c-box2:hover .blue {
    color: #4285F4;
}

.c-box2:hover .red {
    color: #DB4437;
}

.c-box2:hover .yellow {
    color: #F4B400;
}

.c-box2:hover .green {
    color: #0F9D58;
}

.c-box3 {
    width: 263.6071472167969px;
    height: 56.17856979370117px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s;
}

.c-box3:hover .m-red {
    background: #F25022;
}

.c-box3:hover .m-green {
    background: #7FBA00;
}

.c-box3:hover .m-blue {
    background: #00A4EF;
}

.c-box3:hover .m-yellow {
    background: #FFB900;
}

.c-box3:hover h2 {
    color: #737373;
}

.c-box4 {
    width: 172.85714721679688px;
    height: 51.85714340209961px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    cursor: pointer;
}

.fa-airbnb {
    font-size: 50px;
    color: #E3E4E68C;
    transition: all .4s;
}

.c-text1 {
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    color: #E3E4E68C;
    transition: all .4s;
}

.micro-logo {
    width: 57px;
    height: 57px;
    transition: all 0.4s;
}

.mic-logo {
    display: flex;
    justify-content: space-between;
    transition: all 0.4s;
}

.help {
    margin: 0 0 3px 0;
    transition: all 0.4s;
}

.m-logo {
    width: 27px;
    height: 27px;
    background: #E3E4E68C;
    transition: all 0.4s;
}

.c-text3 {
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    color: #E3E4E68C;
    transition: all 0.4s;
}

.c-box4:hover .fedex {
    color: #652C8F;
}

.c-box4:hover .ex {
    color: #FF6600;
}

.fedex {
    font-family: 'Konkhmer Sleokchher', cursive;
    font-size: 60px;
    color: #E3E4E68C;
    transition: all .4s;
    font-weight: 400;
}

.ex {
    margin: 0 0 0 -7.2px;
}


/* CLIENTS end */


/* WORK start */

.work {
    width: 100%;
    height: 2608px;
    padding: 80px 0px 120px 0px;
    position: relative;
}

.w-h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #E3E4E68C;
}

.w-b {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.work-box {
    width: 1220px;
    height: 490px;
    display: flex;
    gap: 32px;
    margin: 97px 0 0 0;
}

.work-text {
    width: 594px;
    height: 490px;
    padding: 183px 0 0 0;
}

.w-t-h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #E3E4E6;
    margin: 0 0 16px 0;
}

.w-h3 {
    font-size: 32px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #E3E4E68C;
    margin: 0 0 24px 0;
}

.work-b {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #E3E4E6;
}

.w-p {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #E3E4E6;
    margin: 0 0 32px 0;
}

.work-btn {
    width: 163px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #E3E4E68C;
    background: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #E3E4E6;
    cursor: pointer;
    transition: all .5s;
}

.work-btn i {
    display: none;
}

.work-btn:hover {
    width: 189px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #E3E4E6;
    outline: none;
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #E3E4E6;
    cursor: pointer;
}

.work-btn:hover img {
    display: none;
}

.work-btn:hover i {
    display: block;
}


/* WORK end */


/* ABOUT ME start */

.about {
    width: 100%;
    height: 996px;
    position: relative;
    padding: 74px 0 74px 0;
}

.about-box {
    width: 1226px;
    height: 848px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    width: 596px;
    height: 292px;
    margin: 0 34px 0 0;
}

.a-h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #E3E4E6;
    margin: 0 0 16px 0;
}

.a-h3 {
    font-size: 32px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #E3E4E68C;
}

.a-b {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #E3E4E6;
}

.about-img {
    width: 596px;
    height: 848px;
    display: flex;
    gap: 32px;
    align-items: center;
}

.ab-img {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


/* ABOUT ME end */


/* FOOTER start */

.footer {
    width: 100%;
    height: 460px;
    padding: 80px 424px 40px 424px;
    position: relative;
}

.footer-box {
    width: 592px;
    height: 338px;
}

.f-logo {
    font-size: 56px;
    font-weight: 300;
    line-height: 84px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #E3E4E68C;
}

.f-b {
    font-size: 56px;
    font-weight: 600;
    line-height: 84px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #E3E4E6;
    margin: 0 0 4px 0;
}

.f-p {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #E3E4E6;
    margin: 0 0 60px 0;
}

.foot-link {
    width: 592px;
    height: 48px;
    display: flex;
    justify-content: center;
    gap: 56px;
    align-items: center;
}

a i {
    font-size: 28px;
    color: #E3E4E68C;
    transition: all .3s;
}

a i:hover {
    font-size: 36px;
    color: #E3E4E6;
}

.f-h3 {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #E3E4E68C;
    margin: 84px 0 0 0;
}

.end-b {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}


/* FOOTER end */