/* @import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #555;
}

.head {
    height: 974px;
    width: 1440px;
    position: relative;
    top: 50px;
    background: #251E1E;
}


/* HOME start */

.head-top {
    width: 1440px;
    height: 136.56px;
    display: flex;
    background: #251E1E;
    position: relative;
}

.top-left {
    width: 136.55821228027344px;
    height: 100%;
    background: #FA582A;
    margin-left: 65.42px;
}

.i {
    margin-top: 40.77px;
    margin-left: 52.28px;
}

.img-text {
    margin-top: 14px;
    margin-left: 36.28px;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.top-right {
    width: 1170px;
    height: 62.62px;
    margin-top: 37.27px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(90, 90, 90, 1);
}

.add {
    width: 126px;
    height: 39px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #5A5A5A;
    cursor: pointer;
}

.add-text {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.i1 {
    width: 16px;
    height: 16px;
}

.us {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.bor {
    width: 39.7586059570314px;
    height: 0px;
    border: 1px solid rgba(90, 90, 90, 1);
    margin-right: 15px;
    margin-top: 18px;
}

.img1 {
    width: 1041px;
    height: 809px;
    background-image: url("img/Rectangle\ 2.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 0;
    z-index: 1;
}

.head-bottom {
    width: 1374px;
    height: 805px;
    margin-left: 66px;
}

.nav {
    width: 57px;
    height: 136px;
    display: block;
    margin-bottom: 104.7px;
    top: 51px;
    position: relative;
}

.a {
    margin-top: 20px;
}

li,
a {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.btn {
    width: 243px;
    height: 51px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    background: rgba(250, 88, 42, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.bottom-text {
    height: 130px;
    width: 559px;
    margin-top: 29.62px;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    color: #fff;
    z-index: 999;
}

.lorem {
    width: 305px;
    height: 69px;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #E6E6E6;
    margin-top: 30.62px;
}

.i3 {
    margin-top: 46.09px;
    margin-right: 30px;
}

.i4 {
    position: relative;
    z-index: 99;
}


/* HOME end */


/* ABOUT US start */

.about {
    width: 1440px;
    height: 1645px;
    position: relative;
    background: #e5e5e5;
}

.bor_2 {
    width: 735.42px;
    height: 104.08px;
    background: #251E1E;
    display: flex;
    justify-content: center;
}

.abo-text {
    margin-top: 13.56px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.about-box {
    display: flex;
    justify-content: center;
}

.container {
    width: 1316.5px;
    height: 1329.49px;
    margin-top: 211.84px;
    position: relative;
}

.i6 {
    position: absolute;
    top: 40.25px;
}

.i7 {
    position: absolute;
    top: 0;
    right: 0;
}

.go_to {
    margin-top: 31.13px;
    margin-left: 112.14px;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(37, 30, 30, 1);
}

.ut {
    width: 416.406005859375px;
    height: 161px;
    margin-top: 31.07px;
    margin-left: 112.14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: justified;
    color: rgba(37, 30, 30, 1);
}

.p1 {
    word-spacing: 7.5px;
}

.p2 {
    word-spacing: 13.4px;
}

.p3 {
    word-spacing: 7.9px;
}

.p4 {
    word-spacing: 11.6px;
}

.p5 {
    word-spacing: 16.5px;
}

.p6 {
    word-spacing: 5px;
}

.fugiat {
    width: 416.406005859375px;
    height: 115px;
    margin-left: 112.14px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: justified;
}

.p7 {
    word-spacing: 5.3px;
}

.p8 {
    word-spacing: 5.9px;
}

.p9 {
    word-spacing: 13.3px;
}

.p0 {
    word-spacing: 6.7px;
}

.btn1 {
    width: 127px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    background: #251E1E;
    border: none;
    margin-top: 40.28px;
    margin-left: 112.14px;
    cursor: pointer;
    outline: none;
}

.abo_img_box {
    margin-top: 150px;
    position: relative;
}

.far {
    position: absolute;
    top: 321.29px;
    left: 551.52px;
    font-size: 62px;
    color: #fff;
    cursor: pointer;
}

.i8 {
    position: absolute;
    top: 626.87px;
    left: 111.42px;
}


/* ABOUT US end */


/* HOME ID start */

.home_id {
    width: 1440px;
    height: 1163px;
    background: #e5e5e5;
    position: relative;
}

.link {
    width: 93px;
    height: 29px;
    position: absolute;
    top: 150px;
    left: 673.08px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(250, 88, 42, 1);
}

.homeid_text {
    position: absolute;
    top: 208.83px;
    left: 479.58px;
    font-size: 48px;
    font-weight: 600;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(37, 30, 30, 1);
}

.containerr {
    width: 1311px;
    height: 587.98px;
    position: relative;
    top: 336.01px;
    left: 64.58px;
}

.id_img {
    width: 437px;
    height: 293.9921875px;
    position: absolute;
}

.i10 {
    position: absolute;
    z-index: 1;
}

.id_6 {
    right: 0;
    bottom: 0;
}

.id_5 {
    bottom: 0;
    left: 437px;
}

.id_4 {
    bottom: 0;
}

.id_3 {
    top: 0;
    right: 0;
}

.id_2 {
    top: 0;
    left: 437px;
}

.btn2 {
    width: 66px;
    height: 29px;
    position: relative;
    top: 20.99px;
    left: 351.42px;
    border: none;
    outline: none;
    color: rgba(37, 30, 30, 1);
    background: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 99;
}

.beb {
    position: absolute;
    top: 198.48px;
    left: 27.76px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    z-index: 99;
}

.id_lorem {
    width: 185.13499450683594px;
    height: 34px;
    position: absolute;
    top: 232.34px;
    left: 27.76px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: rgba(212, 212, 212, 1);
    z-index: 99;
}

.btn3 {
    width: 106px;
    height: 39px;
    position: absolute;
    top: 974px;
    left: 674px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    background: rgba(37, 30, 30, 1);
    border: none;
    outline: none;
    cursor: pointer;
}


/* HOME ID end */


/* WORK WITH US start */

.work {
    width: 1440px;
    height: 1867.15px;
    position: relative;
    background: #e5e5e5;
}

.work-container {
    width: 1309.999755859375px;
    height: 1750px;
    margin-left: 64.58px;
    background: linear-gradient(180.81deg, #1F2122 0.69%, #162129 57.07%);
}

.with-container {
    display: flex;
    /* justify-content: center; */
}

.with-lorem {
    width: 279.3798828125px;
    height: 57px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin-top: 480.54px;
    margin-left: 25.62px;
    margin-right: 30px;
}

.lorem-ipsum1 {
    width: 893px;
    height: 269px;
    margin-top: 75.69px;
    display: flex;
    background: #fff;
}

.lorem-ipsum2 {
    width: 893px;
    height: 269px;
    margin-top: 29.85px;
    display: flex;
    background: #fff;
}

.lorem-ipsum3 {
    width: 893px;
    height: 269px;
    margin-top: 30px;
    display: flex;
    background: #fff;
    margin-bottom: 51.53px;
}

.text-loerm {
    margin-top: 86.24px;
    margin-left: 30.68px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    color: rgba(37, 30, 30, 1);
}

.p-lorem {
    width: 413.3173828125px;
    height: 57px;
    margin-top: 16px;
    margin-left: 29.5px;
    font-size: 17px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(37, 30, 30, 1);
}

.i-box {
    width: 100%;
    height: 756px;
    background-image: url("img/Rectangle\ 23.png");
    background-size: cover;
    background-position: center;
}

.i-work {
    padding-top: 100.35px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.i-text {
    width: 482.2970886230469px;
    height: 38px;
    margin-top: 30px;
    margin-left: 413.35px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.btn4 {
    width: 138px;
    height: 39px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    background: none;
    border: 1px solid #878787;
    color: #fff;
    margin-top: 30px;
    margin-left: 586px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* WORK WITH US end */


/* ADRESS start */

.adress {
    width: 1440px;
    height: 331.85px;
    position: relative;
    background: #e5e5e5;
    display: flex;
    justify-content: center;
}

.adress-container {
    width: 1311px;
    height: 331.85px;
}

.h2-daress {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(37, 30, 30, 1);
}

.adres {
    display: flex;
    justify-content: space-between;
    margin-top: 29.79px;
    position: relative;
}

.ad-b {
    width: 208px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(37, 30, 30, 1);
}

.email {
    width: 144px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #251E1E;
    margin-top: 16px;
}

.number {
    width: 110px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #251E1E;
    margin-top: 16px;
}

.adre-nav,
.adre {
    margin-top: 16px;
    color: #251E1E;
}

.fol {
    width: 73px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #251E1E;
    margin-left: 50px;
}

.fol::before {
    width: 35.75px;
    content: "";
    position: absolute;
    top: 10px;
    right: 106px;
    border: 1px solid #a9a9a9;
}

.icon {
    width: 144px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
}

.fab {
    font-size: 24px;
    cursor: pointer;
}

.adre-id {
    width: 136.55821228027344px;
    height: 139.89974975585938px;
    background: rgba(250, 88, 42, 1);
    margin-top: 11px;
}

.i14 {
    position: absolute;
    top: 253px;
    left: 712px;
    /* cursor: pointer; */
}


/* ADRESS end */