* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

$color1:#8a94a7;
$color2:#242830;
$color3:#ffffff;
$BgColor: rgba(138, 148, 167, 0.24);
body {
    background: #1D2026;
}

.container {
    width: 1140px;
    padding: 0;
}

li,
a {
    text-decoration: none;
    list-style-type: none;
}

button {
    text-transform: uppercase;
    border-radius: 2px;
    border: none;
    opacity: 0.9;
    &:hover {
        opacity: 1;
    }
}

.button-primary {
    background: linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
    margin: 0 16px 0 0;
}

header {
    width: 100%;
    padding: 30px 0 0 0;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 700px;
        background: linear-gradient(80deg, rgba(36, 40, 48, 0.5) 0%, rgba(36, 40, 48, 0) 100%);
        transform-origin: 0;
        transform: skewY(-12deg);
        z-index: -1;
    }
    &::after {
        content: '';
        position: absolute;
        width: 807px;
        height: 708px;
        background: url(https://preview.cruip.com/solid/dist/images/hero-back-illustration.svg);
        top: -80px;
        right: 100px;
    }
}

.head-box {
    width: 488px;
    margin: 160px 0 0 0;
    h2 {
        color: $color3;
        font-size: 45px;
        font-weight: 600;
        margin: 0 0 16px;
    }
    p {
        color: $color1;
        font-size: 20px;
        font-weight: 400;
        margin: 0 0 24px;
    }
    button {
        padding: 10px 32px;
        color: $color3;
        font-size: 14px;
        font-weight: 700;
        background: $color2;
    }
    .button-primary {
        background: linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
        margin: 0 16px 0 0;
    }
}

main {
    margin: 230px 0 0;
}

.flex-cards {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 30px;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        display: block;
        background: $color2;
    }
}

.section-card {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    h2 {
        color: $color3;
        margin: 24px 0 0 4px;
        font-size: 24px;
        font-weight: 600;
    }
    p {
        color: $color1;
        font-size: 18px;
        text-align: center;
    }
}

.unlimited {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 0;
    h2 {
        color: $color3;
        font-size: 38px;
        font-weight: 600;
        margin: 0 0 16px;
    }
    h2+ {
        p {
            width: 800px;
            padding: 0 90px;
            margin: 0 auto 50px;
            font-size: 20px;
            color: $color1;
            text-align: center;
        }
    }
}

.card {
    width: 344px;
    height: 492px;
    padding: 24px;
    background: #2C3039;
    border: none;
    border-radius: 0;
    &::before {
        content: '';
        position: absolute;
        bottom: 18.8%;
        width: 736px;
        height: 435px;
        transform: translateX(-30%);
        background: url(https://preview.cruip.com/solid/dist/images/pricing-illustration.svg);
        z-index: -1;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        box-shadow: 0 24px 48px rgba(21, 24, 29, 0.24);
        mix-blend-mode: multiply;
    }
    li {
        height: 53px;
        display: flex;
        gap: 10px;
        align-items: center;
        border-bottom: 1 solid $BgColor;
        p {
            margin: 0;
            color: $color1;
        }
    }
    button {
        width: 100%;
        height: 48px;
        margin: 25px 0 0;
        color: $color3;
        font-size: 14px;
        font-weight: 600;
    }
}

.c-price {
    width: 100%;
    height: 79px;
    border-bottom: 1px solid $BgColor;
    h2 {
        font-size: 44px;
        font-weight: 600;
    }
    .price {
        font-weight: 500;
        color: $color1;
    }
    .month {
        font-size: 16px;
        font-weight: 400;
        color: $color1;
    }
}

.c-text {
    width: 100%;
    height: 73px;
    border-bottom: 1px solid $BgColor;
    display: flex;
    align-items: center;
    h3 {
        color: $color3;
        font-size: 16px;
        font-weight: 600;
    }
}

.u-box {
    width: 100%;
    height: 176px;
    background-color: #15181d;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    margin: 100px 0 15px;
    &::before {
        content: '';
        position: absolute;
        top: -117px;
        right: 98px;
        width: 160px;
        height: 187px;
        background: url(https://preview.cruip.com/solid/dist/images/cta-illustration.svg);
    }
    h2 {
        font-size: 32px;
        font-weight: 600;
    }
    button {
        padding: 10px 32px;
        color: $color3;
        font-weight: 600;
    }
}

footer {
    height: 206px;
    padding: 64px 0;
    .top,
    .bottom {
        display: flex;
        justify-content: space-between;
        .logo {
            margin: 0 0 24px;
        }
        .link-icon {
            display: flex;
            gap: 30px;
            font-size: 16px;
        }
    }
    .bottom {
        .f-text {
            color: $color1;
            margin: 0;
        }
        menu {
            display: flex;
            gap: 18px;
            li {
                a {
                    color: $color1;
                    font-size: 14px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}