@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Odor+Mean+Chey&family=Rubik+Mono+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/Web-Developer.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.home {
    width: 100%;
}

.navbar {
    width: 100%;
    height: 12vh;
    backdrop-filter: blur(30px);
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 128, 255, 0.242);
    z-index: 99;
}

.i {
    width: auto;
    height: 10vh;
    cursor: pointer;
    transition: all 0.3s;
}

.i:active {
    transform: scale(0.85);
}

.nav {
    width: 45%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    width: 135px;
    height: 6vh;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.links:hover {
    transform: scale(1.09);
}

.links:active {
    transform: scale(1.0);
}

.linka {
    width: 135px;
    height: 6vh;
    border-bottom: 3px solid rgba(55, 255, 255, 0.673);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);
}

.link {
    font-size: 25px;
    color: white;
    font-family: 'Graduate', cursive;
    text-shadow: 0 0 20px blue;
    transition: all 0.3s;
}

.link:hover {
    color: rgb(52, 255, 255);
    text-shadow: none;
}

.linkn {
    font-size: 25px;
    color: #00ffff;
    font-family: 'Graduate', cursive;
    text-shadow: 0 0 20px blue;
}

.text {
    width: 100%;
    height: 80px;
    backdrop-filter: blur(100px);
    background: #00ffff50;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
    cursor: default;
    margin-bottom: 70px;
    position: relative;
    z-index: 33;
    text-shadow: 0 0 20px blue;
}

.center {
    width: 1500px;
    height: 900px;
    margin: auto;
}

.box-1 {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.b1 {
    width: 430px;
    height: 320px;
    border: 5px solid#00d9ffa1;
    border-radius: 30px;
    background: rgba(0, 0, 255, 0.175);
    backdrop-filter: blur(5px);
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.b1:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.9);
}

.b-img {
    margin: 20px 35px 0 35px;
}

.i1 {
    width: 350px;
    height: 220px;
    margin-top: 20px;
    border-radius: 20px;
    transition: all 1s;
}

.i1:active {
    transform: scale(0.95);
}

.title {
    width: 350px;
    height: 30px;
    font-family: 'Odor Mean Chey', serif;
    text-align: center;
    border-top: 1px solid #fff;
    margin: 12px 35px 0 35px;
    font-size: 25px;
    cursor: default;
    color: white;
}